@charset "UTF-8";

/* 共通 */
*{
    font-family: sans-serif;
}

body {
    background-color: #e0e0e0;
    font-size: 14px;
    line-height: 20px;
}

.app {
    display: flex;
    gap: 10px;
    flex-direction: column;

    padding: 15px;
}

h1 {
    font-size: 32px;
    margin-top: 5px;
    font-weight: bold;
}

/* トップ・メニュー */
.top,
.idol_choice,
.idol_name {
    max-width: 400px;

}

.tab {
    margin-top: 5px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 40px;
}

.center img {
    width: 40px;
    height: 40px;
}

.idol_face {
    width: 100px;
    height: 100px;
}


.idol_choice h3 {
    font-size: 20px;
    margin: 10px auto;
}

.idol_selectA,
.idol_selectB {
    margin-top: 5px;
    width: 100px;
}

select {
    border: 1px solid black;
}

.solo {
    justify-content: center;
}

.change {
    text-align: center;
    background-color: rgba(197, 185, 168, 0.604);

    border: 1px solid black;
    padding: 5px;
    margin: 10px;
}

.ari {
    background-color: antiquewhite;
}

.nashi {
    background-color: antiquewhite;
}


.flexarea {
    display: flex;
    gap: 30px;
   justify-content: center;
}


/* リスト */


table {
    border-collapse: collapse;
    min-width: 200px;
    margin: auto;
}

td,
th {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

th {

    background-color: antiquewhite;
}

td {
    background-color: rgb(244, 244, 244);
}

/* モーダル関係 */
.modal_out {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    top: 0;
    left: 0;
    z-index: 10;
    padding: 5px;
    overflow: scroll;
}

.modal_in {
    margin: 50px 5px;
    background-color: #f5f5f5;
    max-width: 450px;
    padding: 10px;
    border-radius: 10px;

}

.modal_txt {
    margin: 10px auto 15px;
}

.modal_txt h3 {
    font-size: 18px;
    margin: 10px 0;
    border-bottom: 3px solid #000;
}

.modal_txt h2 {
    border-bottom: 6px double #000;
    font-size: 22px;
    font-weight: bold;
}

.menu {
    color: rgb(10, 10, 181);
    border-bottom: 1px solid;
    display: block;
    margin: 10px 0 0 auto;
    max-width: 200px;
}

.modal_in button {
    display: block;
    width: 30px;
   
    margin-left: auto;
}
